.flip-container {
    background-color: transparent;
    background-position: center center;
    width: 100%;
    height: 776px;
    border: 1px solid rgb(250, 233, 0);
    perspective: 1000px; 
  }
  .card {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 1s;
    transform-style: preserve-3d;
  }
  .flip-container:hover .card {
    transform: rotateY(180deg);
  }
  .front, .back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
padding-top: 10%;
    font-size: 4rem;
    clear:both;
    font-family: 'Lobster', cursive;
  }
  .front {
    background-image: url("imagenes/bck.jpg");
    background-position: center center;

/* Para que la imagen de fondo no se repita */

background-repeat: no-repeat;

/* La imagen se fija en la ventana de visualización para que la altura de la imagen no supere a la del contenido */

background-attachment: fixed;

/* La imagen de fondo se reescala automáticamente con el cambio del ancho de ventana del navegador */

background-size: cover;

/* Se muestra un color de fondo mientras se está cargando la imagen

de fondo o si hay problemas para cargarla */

    background-color: #ffee00;
    color: rgb(255, 255, 255);
    font-family: 'Lobster', cursive;
    text-align: center;

    
  }
  .back {
    background-image: url("imagenes/confetti1.gif");
    background-color: #ffffff;
    color: #00d4ff;
    transform: rotateY(180deg);
  }

  .logo{
 width: 60%;
 margin: 0 auto;
  }
  
.pie1{
    position: inherit;
    width: 100%;
padding-top: 135%;
    bottom: 0;
     }

     .flotante{
        animation-name: floating;
        animation-duration: 3s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in-out;
        margin-left: 30px;
        margin-top: 5px;
    }
     
    @keyframes floating {
        0% { transform: translate(0,  0px); }
        50%  { transform: translate(0, 15px); }
        100%   { transform: translate(0, -0px); }   
    }
        
.click{
  mix-blend-mode: multiply;
  opacity: 50%;
}